* {
    margin: 0;
    padding: 0;
    font-family: Korb;
}

/* Wahrscheinlich falsches Font-Paket, richtiges kostet 30€? */

@font-face {
    font-family: Korb;
    src: url(/resources2/fontkorb/font/Korb2.woff2);
}

main {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Display Flex kann in main höchstwahrscheinlich weggelassen werden */


header {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(10px 1px 5px grey);
}

/* Z-Index hochsetzen */

nav {
    width: calc(100% - 40px);
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* Baustelle Dropdown Menü (responsive) */

/* .dropdownButton{
    color: blue;
    border: none;
    background-color: rgb(82, 158, 173);
    list-style: none;
    color: white;
    font-size: 20px;
    position: relative;
    display: block;
    text-align: center;
    line-height: 40px;
    display: none;
}

.navigationBar{
    display: block;
    text-align: center;
    display: none;
}

.navigationBar>ul{
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    color:white;
    background-color: rgb(82, 158, 173);

}

.navigationBar>ul>li{
    padding: 10px;
    font-weight: 700;
    margin: 2px;
} */

.navigation {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    gap: 40px;
}

/* INOSOFT logo topleft cursor pointer */

.inologo:hover {
    cursor: pointer;
}

.navigation>li>a {
    color: rgba(0, 156, 180, 1);
    font-weight: 550;
    font-size: larger;
    text-decoration: none;
}

/* Hover-Effekt navigationbar */

.navigation>li>a:hover {
    color: grey;
}

.languageIcon {
    width: 30px;
    margin: auto auto;
    margin-right: auto;
}

/* Muss in einen Link umgewandelt werden */

.banner {
    height: 320px;
    width: 100%;
    background: url(/resources2/synagoge1.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner ragt aus irgendeinem Grund in den Header hinein? */

.banner-Txt {
    width: calc(100% - 40px);
    max-width: 1100px;
    margin: auto 20px;
}


/* Animation linke Seite Synagogen-Banner */
.slide-in-bottom {
    animation: slide-in-bottom 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.leftSideTextSlider1 {
    color: white;
    max-width: 400px;
    font-weight: 300;
}

.bannerTagline {
    max-width: 1100px;
    width: calc(100% - 40px);
    margin: 100px auto;
    color: rgb(144, 164, 174, 1);
    font-size: 2.5em;
    position: relative;
}

.firstGrid {
    max-width: 1100px;
    width: calc(100% - 40px);
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    padding-bottom: 90px;
}

.floatingLink {
    height: auto;
    width: 100%;
    border-radius: 3%;
}

/* Animationen für das neue 1x3 Grid oben */

.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    animation-fill-mode: both;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0.55);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.scale-in-center2 {
    animation: scale-in-center 0.5s ease-in 0.4s;
    animation-fill-mode: both;

}

@keyframes scale-in-center2 {
    0% {
        transform: scale(0.55);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.scale-in-center3 {
    animation: scale-in-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.8s both;
    animation-fill-mode: both;
}

@keyframes scale-in-center3 {
    0% {
        transform: scale(0.55);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Media Query für das 1x3 Grid oben und die Tagline */

@media only screen and (max-width: 950px) {

    .firstGrid {
        grid-template-columns: 1fr 1fr;
        margin-top: 80px;
    }

    .bannerTagline {
        margin: auto;
        margin-top: 80px;
    }
}

/* Start Hauptgrid (Kurznachrichten, Neuigkeiten, WeeklyTalk) */

.newsGrid {
    max-width: 1100px;
    width: calc(100% - 40px);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 6fr);
    gap: 1rem;
    column-gap: 3em;
}

.h31 {
    color: rgba(0, 156, 180, 1);
    size-adjust: 160px;
    object-fit: cover;
    border-radius: 5%;
    grid-row: 1/1;
    grid-column: 1/2;
    font-size: 1.875rem;
    display: flex;
}

.h31:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: rgb(82, 158, 173);
    min-width: 20px;
    margin: auto auto auto 20px;
}

.gridItem1 {
    color: rgba(0, 156, 180, 1);
    grid-row: span 6;
    grid-column: span 1;

    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1rem;
}


.h32 {
    color: rgba(0, 156, 180, 1);
    object-fit: cover;
    border-radius: 5%;
    grid-row: 1/1;
    grid-column: 2/3;
    font-size: 1.875rem;
    display: flex;
}

.h32:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: rgb(82, 158, 173);
    min-width: 20px;
    margin: auto auto auto 20px;
}

.gridItem2 {
    color: rgba(0, 156, 180, 1);

    grid-column: 2/3;
    grid-row: 2/4;

    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1rem;

}

.h33 {
    color: rgba(0, 156, 180, 1);
    object-fit: cover;
    border-radius: 5%;
    grid-row: 4/4;
    grid-column: 2/3;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
}

.h33:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: rgb(82, 158, 173);
    min-width: 20px;
    margin: 20px;
    margin-right: 0;
}

.gridItem3 {
    color: rgba(0, 156, 180, 1);

    grid-column: 2/3;
    grid-row: 5/8;

    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1rem;
}

.gridItem1>img,
.gridItem2>img,
.gridItem3>img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.subTickerUpdates {
    color: grey;
    font-size: small;
    margin-top: 5px;
}

/* Hover Effekt für newsGrid Items (geht schöner?) */

.h31>h3,
.h32>h3,
.h33>h3:hover {
    cursor: pointer;
}

/* Hover Effekt für cursor:pointer*/

.cursorClass:hover,
.newsGrid>img {
    cursor: pointer;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.03);
}

/* Media Query für Responsiveness Hauptgrid, h3 in Grid und Neuanordnung innerhalb des Grids */

@media only screen and (max-width: 950px) {
    .newsGrid {
        grid-template-columns: 1fr;
    }

    .h32 {

        grid-column: span 1;
        grid-row: span 1;

    }

    .h33 {

        grid-column: span 1;
        grid-row: span 1;

    }

    .gridItem2 {
        grid-column: 1;
        grid-row: span 2;
    }

    .gridItem3 {
        grid-column: 1;
        grid-row: span 2;
    }
}

/* Keyframes für Tagline Animation */

@keyframes slide-in-bck-left {
    0% {
        transform: translateZ(700px) translateX(-500px);
        opacity: 0;
    }


    100% {
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

/* Keyframes für Tagline Animation untere Reihe */

@keyframes drop-in {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.bannerTagline>h3>div {
    display: flex;
    flex-wrap: wrap;
}

/* Animationsklassen für die 5 Parts der Tagline-Animation (verschiedene Klassen wegen Anim.delay) */

.slide-in-bck-left {
    animation: slide-in-bck-left 1s ease-in 0.4s;
    animation-fill-mode: both;
    display: block;
}

.slide-in-bck-left2 {
    animation: drop-in 0.5s ease-in 0.8s;
    animation-fill-mode: both;
    display: block;
    margin: 0;
}

.slide-in-bck-left3 {
    animation: drop-in 0.5s ease-in 1.2s;
    animation-fill-mode: both;
    display: block;
}

.slide-in-bck-left4 {
    animation: drop-in 0.5s ease-in 1.6s;
    animation-fill-mode: both;
    display: block;
    min-width: fit-content;
}

.slide-in-bck-left5 {
    animation: drop-in 0.5s ease-in 2s;
    animation-fill-mode: both;
    display: block;
    min-width: fit-content;
}

.banner2 {
    max-width: 1140px;
    width: calc(100% - 40px);
    margin: 100px auto 110px auto;
    background-color: rgb(82, 158, 173);
    color: white;
    display: grid;
    grid-template-columns: 5fr 3fr;
    border-radius: 10px;
    padding: 20px;
}

.banner2>img {
    width: 80%;
    height: auto;
    border-radius: 5%;
    margin: 20px auto;
}

.leftSideTextBanner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    margin: auto;
}

.leftSideTextBanner2>p {
    margin-top: 10px;
    margin-bottom: 16px;

    font-weight: lighter;
}

.leftSideTextBanner2>p>a {
    text-decoration: underline dotted;
    text-underline-offset: 8px;
    color: white;
}

/* Media Query banner2 (unter Hauptgrid) */

@media only screen and (max-width: 650px) {

    .banner2 {
        display: flex;
        flex-direction: column;

    }

    .banner2>img {
        margin-top: 20px;
    }

}

.banner3 {
    min-height: 320px;
    width: 100%;
    background: url(../resources2/arbeitsplatz-gr-desktop.jpg) center center no-repeat fixed;
    background-size: cover;
    margin: 0 auto;

    color: white;
    display: flex;
    margin-bottom: 100px;
    text-align: center;
}

.banner3>p {
    width: 1100px;
    font-size: 25px;
    font-weight: 500;
    margin: auto auto;
}

/* Grid mit Kacheln */

.griddestGrid {
    max-width: 1100px;
    width: calc(100% - 40px);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.flyer1 {
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: rgb(82, 158, 173);
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    font-weight: 10;
    border-radius: 2%;
    padding: 20px;
}

.flyerBanner {
    grid-column: span 2;
    background-color: rgb(144, 164, 174);
    color: white;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    border-radius: 3%;
}

.griddestGrid>a {
    background-color: rgb(144, 164, 174);
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}

.griddestGrid>* {
    min-height: 145px;
}

.bottomGray {
    display: flex;
    align-items: end;
    justify-content: center;
}

/* 5 verschiedene Klassen (cellimage1-5) wegen 5 verschiedenen Hintergrundbildern, kann man bestimmt effizienter machen */

.cellImage1 {
    background: url(/resources2/griddyImgMultiFaktor.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 3%;
}

.cellImage1>a {
    justify-content: center;
    text-decoration: none;
    color: white;
}

.bubbleText {
    background-color: rgb(144, 164, 174);
    text-align: center;
}

.cellImage2 {
    background: url(/resources2/griddyWeeklyTalk.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.cellImage2>a {
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cellImage3 {
    background: url(/resources2/griddyChatGPT.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.cellImage3>a {
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cellImage4 {
    background: url(/resources2/roundtable.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.cellImage4>a {
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cellImage1>a>p,
.cellImage2>a>p,
.cellImage3>a>p,
.cellImage4>a>p {

    align-items: end;
    justify-content: center;
    overflow: hidden;
}

.cellImage1,
.cellImage2,
.cellImage3,
.cellImage4 {
    overflow: hidden;
}

.banner4 {
    display: grid;
    grid-template-columns: 1fr repeat(6, 3fr);
}

/* Media Query für das oberste Banner (Synagoge), für das "Verschwinden" der Navigationbar  */

@media only screen and (max-width: 950px) {
    .banner {
        background: url(/resources2/synagoge2.jpg) no-repeat center;
        background-size: cover;
    }

    .navigation {
        display: none;
    }

    /* Baustelle für Dropdown Menü (responsive) */
    /* .navigationBar{
        display: none;
    }
    
    .dropdownButton{
        display: block;
    }

    .dropdownButton:hover{
        .navigationBar{
            display: block;
        }
    } */


    .leftSideTextSlider1 {
        margin-left: 10px;
    }


    /* ! VORSICHT KAPUTTE MEDIA QUERY */

}

@media screen and (max-width: 1100px) {
    .griddestGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .malsomalso {
        grid-column: span 2;
    }
}

@media screen and (max-width: 750px) {
    .griddestGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1100px) {

    .griddestGrid {
        margin-left: 20px;
    }

    .malsomalso {
        grid-column: span 2;
    }

    .banner3Txt {
        padding: 30px;
        word-wrap: normal;
    }
}

.banner4 {
    margin-top: 100px;
    background-color: rgb(50, 170, 188);
    background: linear-gradient(to bottom right, rgb(82, 158, 173), white 300%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner4Orientation {
    width: calc(100% - 40px);
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner4content {
    color: white;
    font-size: 1.5rem;
}

.banner4Orientation {
    text-decoration: none;
}

.banner4Orientation>img {
    align-content: end;
}

@media only screen and (max-width: 950px) {

    .jochenjochenjochen {
        display: none;
    }
}

.fiveGrid {
    margin: 100px auto 0 auto;
    max-width: 1100px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
}

.newsBubble {
    background-color: rgb(144, 164, 174);
    border-radius: 5%;
    overflow: hidden;
    height: auto;
}

.newsBubble>a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.newsBubble>a>p {
    margin: 5px;
}

.newsBubble>a>img {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
}

.newsBubble>a>img:hover {
    animation:
}


.window {
    height: 260px;
    width: 100%;
}

.windowGap {
    margin-top: 100px;
    background: url(/resources2/arbeitsplatz-desktop.jpg) center center no-repeat fixed;
    width: 100%;
    height: 260px;
}

.footer {
    width: 100%;
    margin-top: 100px;
    background-color: rgb(82, 158, 173);
    display: flex;
    justify-content: center;
}

.footerContainer {
    max-width: 1140px;
    width: calc(100% - 40px);
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

}

.botCell,
.botCell>p>a,
.botCell>a {
    color: white;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

.bottomBanner {

    background-color: rgb(82, 158, 173);
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}