* {
    margin: 0;
    padding: 0;
    font-family: Korb;

}

@font-face {
    font-family: Korb;
    src: url(/resources2/fontkorb/font/Korb.ttf);
}

main {
    width: 100%;
    background-color: white;
}

.bannerContainer {
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.menuIcons {
    display: flex;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 400px;

}

.navigation>li>a {
    color: rgba(0, 156, 180, 1);
    font-weight: 550;
    font-size: larger;
    text-decoration: none;
    margin-left: 50px;
}


.languageIcon {
    width: 30px;
    margin: auto auto;
    margin-left: 200px;
}


/* ! */


.banner {
    height: 340px;
    width: 100%;
    background: url(/resources2/synagoge1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-Txt {
    width: calc(100% - 40px);
    max-width: 1100px;
}

.leftSideTextSlider1 {
    color: white;
    max-width: 400px;
    font-weight: 300;
    font-size: 1.3em;
}


.bannerTagline {
    max-width: 1100px;
    margin: 100px auto;
    color: rgb(144, 164, 174, 1);
    font-size: 2.5em;
}



.newsGrid {
    height: 414px;
    width: calc(100%-40px);
    max-width: 1140px;
    display: grid;
    
    margin: 0 auto;

    grid-template-columns: 1fr 1fr;  
}

.gridItem2{
    height: 275px;
    width: 100%;
    display: grid;

    margin: 0 auto;

    grid-template-columns: 1fr;
}



.gridItem1 {
    color: rgba(0, 156, 180, 1);
    grid-row: span 2;
}


.gridItem2{
    color: rgba(0, 156, 180, 1);
    grid-row: span 1;
    height: 207px;
    width: 100%;
}

.gridItem3{
    color: rgba(0, 156, 180, 1);
    grid-row: span 1;
}


/* ! AUFPASSEN GRID */

.news{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 414px;
    margin-right: 120px;
}

.news>img{
    height: 57px;
    width: 82px;
    border-radius: 5%;
}


.news>h3{
    grid-column: span 2;
    size-adjust: 160px;

    display: flex;
    font-size: 1.875rem;
}

.news>h3:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: rgb(82, 158, 173);
    min-width: 20px;
    margin: auto auto auto 20px;
  }

.subtickerUpdates{
    color: grey;
    font-size: small;
    margin-top: 5px;
}

.news2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-right: 120px;
}

.news2>img{
    height: 57px;
    width: 82px;
    border-radius: 5%;
}

.news2>h3{
    grid-column: span 2;
    size-adjust: 160px;
    display: flex;
    font-size: 1.875rem
}

.news2>h3:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: rgb(82, 158, 173);
    min-width: 20px;
    margin: auto auto auto 20px;
  }

.headlineNews3{
    margin-bottom: 20px;
}


@keyframes slide-in-bck-left{
    0%{
        transform: translateZ(700px) translateX(-400px);
        opacity: 0;
    }


    100%{
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

.slide-in-bck-left{
    animation: slide-in-bck-left 1.3s ease-in;
}


.banner2{
    max-width: 1140px;
    margin: 100px auto;
    height: 254px;
    background-color: rgb(82, 158, 173);

    color: white;
    
    display: grid;
    grid-template-columns: 5fr 3fr;
    border-radius: 10px;

}

.banner2>img{
    width: 80%;
    height: 80%;
    border-radius: 5%;
    margin: auto;
}

.leftSideTextBanner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    margin: auto auto;
}

.leftSideTextBanner2>p{
    margin-top: 10px;
    margin-bottom: 16px;
    
    font-weight: lighter;
}

.leftSideTextBanner2>p>a{
    text-decoration: underline dotted;
    text-underline-offset: 8px;
    color: white;
}



.banner3{
    height: 320px;
    width: 100%;
    background: url(../resources2/arbeitsplatz-gr-desktop.jpg) center center no-repeat fixed;
    background-size: cover;
    margin: 0 auto;

    color: white;
    display: flex;
    margin-bottom: 100px;
   
}

.banner3>p{
    width: 1076px;
    font-size: 25px;
    font-weight: 500;
    margin: auto;
}

.griddestGrid{
    max-width: 1100px;
    margin: 0 auto;
    height: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    
}

.flyer1{
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: rgb(82, 158, 173);
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    font-weight: 10;
}

.flyerBanner{
    grid-row: 3/4;
    grid-column: 2/-3;
    background-color: rgb(144, 164, 174);
    color: white;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.griddestGrid>a{
    background-color: rgb(144, 164, 174);
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomGray{
    display: flex;
    align-items: end;
    justify-content: center;
}

.cellImage1{
    background: url(/resources2/griddyImgMultiFaktor.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
}

.cellImage1>a{
    justify-content: center;
    text-decoration: none;
    color: white;
}

.bubbleText{
    background-color: rgb(144, 164, 174);
    text-align: center;
}

.cellImage2{
    background: url(/resources2/griddyWeeklyTalk.jpg) center center no-repeat;
    background-size: cover;
}

.cellImage2>a{
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cellImage3{
    background: url(/resources2/griddyChatGPT.jpg) center center no-repeat;
    background-size: cover;
}

.cellImage3>a{
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cellImage4{
    background: url(/resources2/gucciGang.jpg) center center no-repeat;
    background: cover;
    display: flex;
}

.cellImage4>a{
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cellImage1>p, .cellImage2>p, .cellImage3>p, .cellImage4>p{

    align-items: end;
    justify-content: center;
}

.bubbleTextNoLink{
    display: flex;
    align-content: center;
    justify-content: center;
}


.banner4{
    display: grid;
    grid-template-columns: 1fr repeat(6,3fr);
}

@media only screen and (max-width: 950px) {
    .banner {
        background: url(/resources2/synagoge2.jpg) no-repeat center;
        background-size: cover;
    }

    .navigation {
        display: none;
    }

    .leftSideTextSlider1 {
        margin-left: 10px;
    }

    .newsGrid{
        grid-template-columns: 1fr;
    }

    .griddestGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }


}


.banner4{
    margin-top: 100px;
    background-color: rgb(82, 158, 173);
    background: linear-gradient(to bottom right, rgb(82, 158, 173), white 180%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner4Orientation{
    width: calc(100% - 40px);
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner4content{
    color: white;
    font-size: 1.5rem;
}

.banner4Orientation {
    text-decoration: none;
}

.banner4Orientation>img{
    align-content: end;
}



.fiveGrid{
    margin: 100px auto 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
}

.newsBubble{
    background-color: rgb(144, 164, 174);
    border-radius: 5%;
    overflow: hidden;
    height: auto;
}

.newsBubble>a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.newsBubble>a>p{
    margin: 5px;
}

.newsBubble>a>img{
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
}


.window{
    height: 260px;
    width: 100%;
}

.windowGap{
    margin-top: 100px;
    background: url(/resources2/arbeitsplatz-desktop.jpg) center center no-repeat fixed;
    width: 100%;
    height: 260px;
}




.footer{
    background-color: rgb(82, 158, 173);
    height: 283px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.footerContainer{

    height: 254px;
    max-width: 1140px;
    width: calc(100%-40px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;

}

.itemFooterGrid{
    color: white;
    font-size: 18px;
}



.bottomBanner{
    color: white;
    display: flex;
    justify-content: center;
}



